<div class="design">
    <h1>Thank You for advancing this great cause!!!</h1>
    <h2>
        <u>Everybody{{#if city}} From {{capitalizeLetter city}}{{/if}}
            That Has Already Signed</u>
    </h2>
    <h5>We, the undersigned{{#if city}}
            people of
            {{capitalizeLetter city}}{{/if}}, demand that the disgusting
        practices of
        <br />
        not flushing after using the toilet may become a public offense.</h5>
    <img class="closed" src="/closed.jpg" alt="" />
    <br />
    <ol class="people_list">
        {{#each Signatures}}
            <li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{#if url}}
                    <a href="{{this.url}}">{{this.first}} {{this.last}}</a>
                {{else}}
                    {{this.first}}
                    {{this.last}}
                {{/if}}
                &nbsp;&nbsp;&nbsp;&nbsp;

                {{#if age}}{{this.age}} years young{{/if}}
                &nbsp;&nbsp;&nbsp;&nbsp;
                {{#if city}}<a href="/signers/{{this.city}}">{{capitalizeLetter
                            this.city
                        }}</a>{{/if}}

            </li>
            <br />
        {{/each}}
    </ol>
    {{#if Signatures}}<a href="/thanks">Return To My Signature</a>{{/if}}
    {{#if city}}
        <br />
        <a href="/signers">Return To All The Signers</a>
        <br /><br />
        <br />{{/if}}
    <br />
    <br />
</div>